services:
  smartdns:
    image: coredns/coredns:1.11.1
    container_name: smartdns-gaming
    command: -conf /etc/coredns/Corefile
    restart: unless-stopped
    ports:
      - "53:53/udp"
      - "53:53/tcp"
      - "9153:9153/tcp" # optional prometheus metrics
    volumes:
      - ./Corefile:/etc/coredns/Corefile:ro
